
body {
    text-align: center;
}

.filter-container {
  display: flex;
  justify-content: center;   
  align-items: center;       
  gap: 10px;                 
  margin-bottom: 10px;
  font-family: Georgia, serif;
}